.items {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
img {
  max-height: 100px;
  max-width: 100px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #4CAF50;
    color: white;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}

#map table {
    border: 1px solid black;
    table-layout: fixed;
}

#map th, #map td {
    border: 1px solid black;
    width: 80px;
}
