.items {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.msgtype {
  height: 20px;
  width: 20px;
}
.coord {
  border-radius: 10px;
  height: 20px;
  font-family: Monospace;
  background: coral;
  border: 1px solid coral;
}
.action {
  border-radius: 10px;
  height: 20px;
  font-family: Monospace;
  background: lightBlue;
  border: 1px solid lightBlue;
}
.player {
  border-radius: 10px;
  height: 20px;
  font-family: Monospace;
  background: LawnGreen;
  border: 1px solid LawnGreen;
}
.money {
  border-radius: 10px;
  height: 20px;
  font-family: Monospace;
  background: Gold;
  border: 1px solid Gold;
}
.author {
  font-weight: bold;
  color: #365899;
}
.message {
  margin-left: 10px;
  min-height: 30px;
}
.message:hover {
  background-color: Skyblue;
}
.message.selected {
  background-color: DodgerBlue;
}
.highlight {
  border-bottom: 1px dotted Skyblue;
}
.new-1 {
  background-color: hsl(16, 100%, 70%);
}
.new-2 {
  background-color: hsl(16, 100%, 73%);
}
.new-3 {
  background-color: hsl(16, 100%, 76%);
}
.new-4 {
  background-color: hsl(16, 100%, 79%);
}
.new-5 {
  background-color: hsl(16, 100%, 82%);
}
.new-6 {
  background-color: hsl(16, 100%, 85%);
}
.new-7 {
  background-color: hsl(16, 100%, 88%);
}
.new-8 {
  background-color: hsl(16, 100%, 91%);
}
.new-9 {
  background-color: hsl(16, 100%, 94%);
}
.new-10 {
  background-color: hsl(16, 100%, 97%);
}
body {
  overflow-x: hidden;
}
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}
#sidebar-wrapper {
  margin-top: 51px;
  background: #dddddd;
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#wrapper.toggled {
  padding-left: 350px;
}
#wrapper.toggled > #sidebar-wrapper {
  width: 350px;
}
#wrapper.toggled > #page-content-wrapper {
  margin-right: -350px;
}
#page-content-wrapper {
  padding-top: 70px;
  width: 100%;
}
